// colors.scss

// SCSS Variables
$primary-color: #1976d2;
$info-color: #1e88e5;
$success-color: #41c7db;
$accent-color: #fc4b6c;
$default-color: #563dea;

$osama-color: #ff00d9;

// CSS Variables
:root {
  --primary-color: #1976d2;
  --info-color: #1e88e5;
  --success-color: #41c7db;
  --accent-color: #fc4b6c;
  --default-color: #563dea;
  --osama-color: #ff00d9;
}
